.mobile-stack{
	float:none;
	width:100%;
	margin-right:0;
	display: block;
}

.top-page-header .mobile-hamburger-area{
	float: right;
	display:none;
}

.top-page-header .mobile-hamburger-area .btn{
	border:0;
	font-size:1.2em;
}


/*******
*** TOP NAVIGATION
*******/

@media(max-width: 502px){
	.top-page-header .logo-area{
		padding:5px 0;
	}
	
	.top-page-header .logo-area .logo{
		max-width: 225px;
	}
}


@media(max-width:1022px){
	.top-page-header .navigation-area,
	.top-page-header .social-media-area{
		display: none;
	} 
	
	.top-page-header .logo-area{
		padding:3px 0 0;
	}
	
	.top-page-header .mobile-hamburger-area{
		display:block;
	}		
}


/*******
*** ABOUT PAGE
*******/

@media(max-width:840px){
	.team-image{
		max-width:40%;
		margin:50px auto;
	}
	
	.team-image:last-child{
		margin-right:auto;
	}
	
	.team-image figcaption{
		font-size:1.8em;
		top:35%;
		left:22%;
	}
}

@media(max-width:679px){
	.about-section .about-contact-info{
		display:none;
	}
}

@media(max-width:520px){
	.team-image{
		max-width: 60%;
	}
	
	.team-image figcaption{
		font-size:1.4em;
		top: 33%;
	    left: 19%;
	}
}

@media(max-width:645px){
	.event-list .event{
		text-align: center;
		margin-bottom:65px;
		padding-left:30px;
		padding-right:30px;
	}
	
	.event-list .event:first-child{
		margin-bottom: 65px;	
		padding-top:50px;
	}
	
	.event-list .event-time{
		width:60%;
		margin:0 auto;
	}
	
	.event-list .event-time hr{
		width:30%;
	}
}

@media(max-width:420px){
	.event-list .event{
		padding-left:10px;
		padding-right:10px;
	}
}

@media(max-width:645px){
	.category-list .category-item,
	.category-list .separator{
		display:none;
	}
}