body{
	/*background-color:#FBFBFB;*/
}

.wrapper{
	max-width: 70%;
	margin:0 auto;
	padding:20px 50px;
}

.top-page-header{
	border-bottom:1px solid #eee;
}

.top-page-header .navigation{
	float:right;
	margin-top:42px;
}

.top-page-header .navigation li{
	display: inline-block;
	margin-left: 55px;
}

.top-page-header .navigation li a{
	padding:5px;
	font-size:1.1em;
}

.top-page-header .navigation li a:hover{
	text-decoration: none;
}

.text-muted{
	color:#aaa;
}